<h1>Admin Page</h1>





<table class='table table-bordered'>
  <thead>
    <tr>
      <th colspan = "3"><h3>TEXT HERE 
      </h3></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>


<br><br>
<div class="form-group" >
</div>
